$primary-color-darkest: #226480;
$primary-color-dark: #247BA0;
$primary-color: #70C1B3;
$primary-text-color: #456990;
$accent-color: #F45B69;
$accent-color-light: #ff5e89;
@mixin transition($params...) {
  transition: $params;
  -moz-transition: $params;
  -webkit-transition: $params;
}
@mixin border-radius($params...) {
  border-radius: $params;
  -moz-border-radius: $params;
  -webkit-border-radius: $params;
}
@mixin box-shadow($params...) {
  box-shadow: $params;
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
}
body {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: $primary-color-dark;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.frame {
  height: 500px;
  background: $primary-color-dark;
  position: absolute;
  left: 0;
  right: 0;
}
.content-area {
  height: 100%;
}

.clearfix {
  overflow: auto;
}

.preface__desc {
  width: 940px;
  margin: 0 auto;
  color: #fff;
  margin-top: 30px;
}

.preface__desc p {
  font-size: 14px;
}

.preface__desc h4 {
  text-align: center;
}

.preface__desc__head {
  font-size: 18px;
}

@import './transitions.scss';
@import './home.scss';
@import './sandbox.scss';
@import './regimen.scss';
@import './overrides.scss';
