$primary-color-dark: #247BA0;
$primary-color: #70C1B3;
$primary-text-color: #456990;
$accent-color: #F45B69;
$accent-color-light: #ff5e89;
@mixin transition($params...) {
  transition: $params;
  -moz-transition: $params;
  -webkit-transition: $params;
}
@mixin border-radius($params...) {
  border-radius: $params;
  -moz-border-radius: $params;
  -webkit-border-radius: $params;
}
@mixin box-shadow($params...) {
  box-shadow: $params;
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
}
body {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
.frame {
  height: 400px;
  background: $primary-color-dark;
  position: absolute;
  left: 0;
  right: 0;
}
.content-area {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.regimen-container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  @include border-radius(3px);
}
.sidebar {
  position: absolute;
  background: $primary-color;
  bottom: 0;
  left: 0;
  width: 300px;
  top: 0;
  padding: 20px;
  @include border-radius (3px 0 0 3px);
}
.widget h3 {
  color: #fff;
}

.light-header {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
input[type="text"],
input[type="text"]:focus,
textarea {
  @include border-radius(3px);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #86ebd9;
  color: #fff;
  background-color: transparent;
  padding: 14px;
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 10px;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-appearance: none;
  //   border: 1px solid #eae9eb;
  // box-sizing: border-box;
  // color: #5D4E71;
  // font-size: 13px;
  // height: 60px;
  // width: 94%;
  // padding: 18px 14px 0;
  // margin: 0 3%;
  // border-radius: 3px;
  // margin-top: 10px;
  // transition: all .1s ease-in-out;
}
$input-placeholder-color: #a9fff0;
%input-style {
  color: $input-placeholder-color;
  border: 1px solid #000;
}
%element:-moz-placeholder {
  -moz-transition: padding 0.5s;
  transition: padding 0.5s;
  color: $input-placeholder-color;
}
%element::-moz-placeholder {
  -moz-transition: padding 0.5s;
  transition: padding 0.5s;
  color: $input-placeholder-color;
}
%element:-ms-input-placeholder {
  -ms-transition: padding 0.5s;
  transition: padding 0.5s;
  color: $input-placeholder-color;
}
%element::-webkit-input-placeholder {
  @include transition(all 0.25s ease);
  color: $input-placeholder-color;
  position: relative;
}
input,
textarea {
  @extend %element;
}
%element:focus:-moz-placeholder {}
%element:focus::-moz-placeholder {}
%element:focus:-ms-input-placeholder {}
%element:focus::-webkit-input-placeholder {
  font-size: 10px;
  transform: translateY(-12px);
  // top: -10px;
}
%element:hover:-moz-placeholder {}
%element:hover::-moz-placeholder {}
%element:hover:-ms-input-placeholder {}
%element:hover::-webkit-input-placeholder {}

.body {
  position: relative;
  margin-left: 300px;
  padding: 20px;
}

.regimen-entries__h3 {

}

.footer {

  margin: 0 auto;
  text-align: center;
  margin: 30px 0 0 0;
  color: #999;
  font-style: italic;
}

.footer p {
  font-size: 12px;
  font-weight: normal;

}

.timeline-entry {


}

.timeline-entry__meta {
  display: inline-block;
  min-height: 100px;
  padding: 0 20px 0 50px;
  position: relative;
}

.timeline-entry__datetime {
    font-size: 12px;
}

.timeline-entry__meta:before,
.timeline-entry__meta:after {
  display: block;
  content: '';
  position: absolute;
}

.timeline-entry__meta:before {
  @include border-radius(100%);
  width: 9px;
  height: 9px;
  border: 1px solid $primary-color;
  top: 5px;
  background: #fff;
  z-index: 1;
  right: -3px;
}

.timeline-entry__meta:after {
  border-right: 3px solid $primary-color;
  min-height: 110px;
  right: 0;
  top:0;
}

.timeline-entry__content {
  display:inline-block;
  box-sizing: border-box;
    vertical-align: top;
  margin: 0 0 0 20px;
    border: 1px solid;

}

.timeline-entry__title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.timeline-entry__desc {
  font-size: 12px;
  margin: 10px 0 0 0;
}

@import './overrides.scss';
