
.sandbox-feature {

}
.sandbox-feature__intro {
  margin: 0 auto;
  margin-bottom: 10px;
  background: $primary-color-darkest;
  padding: 20px;
  @include border-radius(3px)
}

%common-shadow {
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3))
}

.sandbox-feature__intro h3 {
  font-size: 18px;
  color: $primary-color;
  margin: 0;
  font-weight: 400;
}

.sandbox-feature__intro h3:after {
  display: block;
  content: '';
  border: 1px solid;
  width: 20px;
  margin: 10px 0;
}

.sandbox-feature__intro p {
    font-size: 12px;
      color: #fff;
}


/* Large desktops and laptops */
@media (min-width: 992px) {

  .sandbox-feature__intro {
    width: 940px;
  }

}
/* Landscape tablets and medium desktops */
// @media (min-width: 992px) and (max-width: 1199px) {
//       padding: 50px;
//
// }
/* Portrait tablets and small desktops */
@media (min-width: 0) and (max-width: 991px) {



}
// /* Landscape phones and portrait tablets */
// @media (max-width: 767px) {}
// /* Portrait phones and smaller */
// @media (max-width: 480px) {}
