/* Page transition animations */
.page-enter {
  opacity: 0.01;
  transition: opacity 0.25s ease-in;
}
.page-enter.page-enter-active {
  opacity: 1;
}
.page-leave {
  opacity: 1;
  transition: background 0.25s ease-in;

}
.page-leave.page-leave-active {
  opacity: 0;
  background-color: #fff;
}
.link-active {
  color: #bbbbbb;
  text-decoration: none;
}
